.DS_Store
bower_components
node_modules
frontend/dist

#Java
web_backend/target/
*.class

web_backend/nb-configuration.xml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

