<errormodal></errormodal>
<div class="registration-container" id="restore-email-error">
	<div class="row">
		<div class="text-entry-special-form">Please, enter your email in order to receive a letter, which will guide you to reset your current account password.</div>
	</div>
	<form id="myForm" name="userForm" ng-submit="userForm.$valid && submitEmailError()" novalidate>
		<input type="email" class="form-control" placeholder="Email" ng-model="email" novalidate required>	
		<div class="row">
        	<div class="error">The email or password you entered is incorrect!</div>
    	</div>
		<div class="row">
			<input class="button-signup" id="restore-pass" type="submit" value="Sumbit">
		</div>
	</form>
</div>