<div class="registration-container" ng-init="initialize()">
    <errormodal></errormodal>
    <form id="myForm" name="userForm" ng-submit="userForm.$valid && create()" novalidate>
        <div class="row">
            <div class="col-sm-12">
                <div class="setting-container">
                    <div class="setting-container-element">
                        <input type="submit" value="" />
                    </div>
                    <div class="setting-container-element">
                        <a href="#/"><img src="img/icon/discard.png" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div><img src="img/icon/adduser.png" class="new-user-pic" /></div>
                </div>
                <div class="row">
                    <input type="text" class="form-control" id="userName" placeholder="Username" ng-model="user.username" ng-pattern="/^[a-zA-Z0-9_-]{3,15}$/" required>
                </div>
            </div>
        </div>
        <input type="text" class="form-control" placeholder="First Name" ng-model="user.firstName" ng-pattern="/^[a-zA-Z _'-]{3,45}$/" required/>
        <input type="text" class="form-control" placeholder="Last Name" ng-model="user.secondName"  ng-pattern="/^[a-zA-Z _'-]{3,45}$/" required/>
        <input type="email" class="form-control" placeholder="E-mail" ng-model="user.email" required/>
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password" ng-pattern="/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,45}$/" required/>
        <input type="text" class="form-control" placeholder="Phone" ng-model="user.phone" ng-pattern="/^[0-9+()-]{5,15}$/" required/>
        <input type="text" class="form-control" placeholder="Company" ng-model="user.company" ng-pattern="/^[a-zA-Z0-9_ -]{3,45}$/" required/>
        <textarea class="form-control" rows="4" id="description" placeholder="Description (not required)" ng-model="user.description" ng-pattern="/^.{0,1000}$/" />
    </form>
</div>