 <!-- Postpone Modal -->
<div class="modal fade" id="postponeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Postpone Server Due Date</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class='col-sm-12'>
                        <input ng-model="server.dueDate" type="date" name="dueDate">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="postponeDueDate()" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete</h4>
            </div>
            <div class="modal-body">
                Delete "{{server.name}}" Server?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-ng-click="delete()" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Change Root Password Modal -->
<div class="modal fade" id="changeRootPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Change Server Root Password</h4>
            </div>            
            <input type="password" class="form-control" placeholder="New Root Password" ng-model="password" required/>
            <input type="password" class="form-control" placeholder="Confirm Root Password" ng-model="confirmPassword" required/>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="changeRootPassword()">OK</button>
            </div>
        </div>
    </div>
</div>